In [3]:
import pandas as pd
import numpy as np
from google.colab import drive

In [6]:
#Load the dataset
data = pd.read_csv('/content/drive/MyDrive/pandas/student.csv')

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
print("Top 5 rows of the dataset:")
print(data.head())

Top 5 rows of the dataset:
   Math  Reading  Writing
0    48       68       63
1    62       81       72
2    79       80       78
3    76       83       79
4    59       64       62

In [17]:
print("\nBottom 5 rows of the dataset:")
print(data.tail())

Bottom 5 rows of the dataset:
     Math  Reading  Writing
995    72       74       70
996    73       86       90
997    89       87       94
998    83       82       78
999    66       66       72

In [18]:
print("\nDataset Information:")
print(data.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Math     1000 non-null   int64
 1   Reading  1000 non-null   int64
 2   Writing  1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB
None

In [ ]:
print("\nDescriptive Statistics:")
print(data.describe())

Descriptive Statistics:
          Student ID            Age         Height         Weight  \
count  180000.000000  180000.000000  180000.000000  180000.000000
mean    49974.042078      26.021561     174.947103      69.971585
std     28879.641657       4.890528      14.447560      17.322574
min         1.000000      18.000000     150.000041      40.000578
25%     24971.750000      22.000000     162.476110      54.969838
50%     49943.500000      26.000000     174.899914      69.979384
75%     74986.000000      30.000000     187.464417      84.980097
max    100000.000000      34.000000     199.998639      99.999907

                 BMI    Temperature     Heart Rate  Blood Pressure  \
count  180000.000000  180000.000000  180000.000000   180000.000000
mean       23.338869      98.600948      79.503767      114.558033
std         7.033554       0.500530      11.540755       14.403353
min        10.074837      96.397835      60.000000       90.000000
25%        17.858396      98.264750      70.000000      102.000000
50%        22.671401      98.599654      80.000000      115.000000
75%        27.997487      98.940543      90.000000      127.000000
max        44.355113     100.824857      99.000000      139.000000

         Cholesterol
count  180000.000000
mean      184.486361
std        37.559678
min       120.000000
25%       152.000000
50%       184.000000
75%       217.000000
max       249.000000

In [19]:
X = data[['Math', 'Reading']].values
Y = data['Writing'].values

# Print the feature and target shapes
print("\nFeature matrix (X) shape:", X.shape)
print("Target vector (Y) shape:", Y.shape)

Feature matrix (X) shape: (1000, 2)
Target vector (Y) shape: (1000,)

In [20]:
#Task 2: Build a cost Function
def cost_function(X, Y, W):
    """
    Calculates the Mean Squared Error.
    """
    n = len(Y)
    Y_pred = np.dot(X, W)
    cost = (1 / (2 * n)) * np.sum((Y_pred - Y) ** 2)
    return cost

In [14]:
#Task 3: Gradient Descent
def gradient_descent(X, Y, W, alpha, iterations):
    """
    Performs gradient descent to optimize weights.
    """
    n = len(Y)
    cost_history = []

    for i in range(iterations):
        Y_pred = np.dot(X, W)
        loss = Y_pred - Y
        gradient = (1 / n) * np.dot(X.T, loss)
        W -= alpha * gradient
        cost = cost_function(X, Y, W)
        cost_history.append(cost)

    return W, cost_history

In [13]:
#Task 4: Evaluate the Model
def rmse(Y, Y_pred):
    return np.sqrt(np.mean((Y_pred - Y) ** 2))

def r2(Y, Y_pred):
    ss_res = np.sum((Y - Y_pred) ** 2)
    ss_tot = np.sum((Y - np.mean(Y)) ** 2)
    return 1 - (ss_res / ss_tot)

In [12]:
#Task 5: Integrate All Steps
def main():
    # Step 1: Load the dataset
    data = pd.read_csv('/content/drive/MyDrive/pandas/student.csv')

    # Step 2: Prepare features (X) and target (Y)
    X = data[['Math', 'Reading']].values
    Y = data['Writing'].values

    # Step 3: Split data into training and test sets
    from sklearn.model_selection import train_test_split
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

    # Step 4: Initialize weights, learning rate, and iterations
    W = np.zeros(X_train.shape[1])
    alpha = 0.0001
    iterations = 1000

if __name__ == "__main__":
    main()